@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../bower_components/normalize.css/normalize.css';

body {
  color: #333;
  font: 2.5rem "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top,  #a0d8ef 0%, #ddf1f9 65%, #feffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0d8ef), color-stop(65%,#ddf1f9), color-stop(100%,#feffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
}
*{box-sizing: border-box;}
img {
	max-width: 100%;
	width: 100%;
}
@font-face {
  font-family: florencesans;
  src: url(fonts/Florsn30.eot);
  src: local("My Web Font"), url(../fonts/Florsn30.ttf) format("truetype"); 
 }
.header {
  background-color: #4F7BC2;
  color: #fff;
	text-align: center;
	li {
		display: inline-block;
		+ li {
			border-left: 1px solid #fff;
			margin-left: 1rem;
			padding-left: 1rem;
		}
		a {
			text-decoration: underline;
			font-size: 3rem;
		}
	}
	a {
		color: #fff;
	}
	h1 {
		font: 3rem florencesans, Helvetica, Arial, sans-serif;
		margin-top: 0;
		a:hover {
			text-decoration: none;
		}
	}
	h2 {
		color: #264679;
		font-size: 1.4rem;
		font-weight: normal;
	}
	h3 {
		font-size: 1.4rem;
		margin: 0;
		padding: 1rem 0;
	}
	.col-cards img {
		max-width: 82px;
	}
}
.col-nav,
.fineprint,
dt {
  background-color: #992D23;
  color: #fff;
  a {
    color: #fff;
  }
}
.col-nav {
  padding: 0 1rem;
  h3 {
    margin: 0;
    padding: 1rem 0;
  }
	ul {
		margin-bottom: 1.6rem;
	}
  li {
		list-style: none;
    
    border-bottom: 1px solid #ccc;
		a {
			display: block;
			padding: 1rem 0;
			&:hover {
				background-color: lighten( #992D23, 10% )
			}
		}
  } 
	footer {
		padding-bottom: 1.6rem;
		dl {
			background-color: #4F7BC1;
			color: #fff;
			border: 1px solid #fff;
			padding: .7rem;
			margin: 0;
			dt {
				background-color: inherit;
				margin-bottom: 1rem;
			}
			ul {
				margin-bottom: 0;
				list-style: none;
				ul li {
					list-style: disc;
					margin-left: 2rem;
					padding: 0;
				}
				li + li + li {
					margin-left: 2rem;
				}
			}
			hr {
				margin: 1.4rem 0 .5rem;
			}
			li {
				border-bottom: none;
			}
		}
	}
}
ul {
	margin: 0;
	padding: 0;
}
p {
	margin: .6rem 0;
}
dt {
	font-weight: normal;
}
h4 {
	font-size: 1.6rem;
	&.modal-title {
		font-size: 2rem;
	}
}
.flag {
	text-align: center;
	display: none;
}
.carousel-caption {
	h3 {
		text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	}
}
.col-award,
.col-cards,
.header h2,
.col-content {
	display: none;
}
.col-contact {
	dt {
		padding: 0 1rem;
	}
	dd {
		margin: 0 1rem;
		li {
			font-weight: bold;
			margin-top: 1.6rem;
			list-style: none;
			ul li {
				font-weight: normal;
				list-style: disc;
				margin-top: 0;
			}
		}
		ul ul {
			list-style: disc;
			margin-left:2rem;
		}
	}
}
.col-content,
.col-contact {
	background-color: #effaff;
}
.street-address {
	display: block;
	margin-top: 1.6rem;
}
.fineprint {
  p {
    margin: 0;
    padding: .6rem;
  }
}
.photos {
	cursor: pointer;
}
figure {
	border: 1px solid #ccc;
	border-radius: 7px;
	box-shadow: 10px 10px 5px #888;
	display: block;
	max-width: 380px;
	margin: 20px auto;
	padding: 1em;
}
table {
	border: 2px solid #ccc;
	width: 96%;
	margin: 3rem auto;
}
td {
	text-align: right;
	padding: .5rem 1rem;
	&:nth-child(1),
	&.first,
	&[colspan] {
		text-align: left;
	}
}
tr:nth-child(2n) {
	background-color: #cfefff;
}
caption {
	background-color: #ccc;
	padding-left: 1rem;
}
.main {
	background-color: #effaff;
}
.col-menu {
	h2 {
		margin-left: 2rem;
	}
	th {
		padding-left: 1rem;
		padding: .5rem 1rem;
		font-weight: normal;
	}
	thead {
		th {
			text-align: right;
			font-size: 2rem;
		}
	}
	tfoot {
		td {
			background-color: #f0f0f0;
		}
	}
}
@media (min-width: 575px) {
	body {
		font-size: 1.5rem;
	}
	.wrapper {
		margin: 1.5rem auto;
		border: 1px solid #264679;
		border-radius: .8rem;
		max-width: 1142px;
	}
    .header h2,
	.flag {
		display: block;
		img {
			max-width: 157px;
		}
	}
	.header {
		h1 {
			font-size: 5rem;
		}
	  h2 {
		font-size: 2.4rem;
	  }
		.col-award,
		.col-cards {
			vertical-align: middle;
		}
	}
	.main,
	.header,
	.photos {
	  display: table;
	}
	.col-award,
	.col-brand,
	.col-cards,
	.col-nav,
	.col-contact,
	.photos div,
	.menu {
	  display: table-cell;
	}
	.col-award,
	.col-brand,
	.col-cards,
	.col-nav,
	.col-content,
	.col-contact {
		padding: 0 1.6rem;
	}
	.col-award,
	.col-brand {
		width: 12%;
	}
	.col-nav,
	.col-contact {
	  width: 25%; 
	}
	.col-nav {
		li {
			border-bottom: none;
			padding: 0;
			a {
				padding: .2rem 0;
				text-decoration: underline;
			}
		}
	}
	.col-brand {
	  width: 75%;
	}
	.col-menu {
	  width: 100%;
	  thead th {
			font-size: 1.5rem;
		}
	}
	.col-content {
	  width: 50%;
	}
	.photos div {
	  width: 50%;
	}
	.col-contact {
	  border-left: 1px dashed #992D23;
	}
	.fineprint {
		padding: 1px 1.5rem 1px 0;
		text-align: right;
	}
}
@media (min-width: 720px) {
	.col-content {
		display: table-cell;
	}
	.col-contact dd li span {
		display: none;
	}
	.header li a {
		font-size: inherit;
	}
}