@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import '../../bower_components/normalize.css/normalize.css';

body {
  color: #333;
  font: 1.5rem "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff; /* Old browsers */
  background: -moz-linear-gradient(top,  #a0d8ef 0%, #ddf1f9 65%, #feffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0d8ef), color-stop(65%,#ddf1f9), color-stop(100%,#feffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a0d8ef 0%,#ddf1f9 65%,#feffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0d8ef', endColorstr='#feffff',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
}
*{box-sizing: border-box;}
img {
	max-width: 100%;
}

@font-face {
  font-family: florencesans;
  src: url(fonts/Florsn30.eot);
  src: local("My Web Font"), url(../fonts/Florsn30.ttf) format("truetype"); 
 }
.header {
  background-color: #4F7BC2;
  color: #fff;
	text-align: center;
	li {
		display: inline-block;
		& + li {
			border-left: 1px solid #fff;
			margin-left: 1rem;
			padding-left: 1rem;
		}
	}
	a {
		color: #fff;
	}
    h1 {
        font: 3rem florencesans, Helvetica, Arial, sans-serif;
      margin-top: 0;
    }
	h2 {
		color: #264679;
		font-size: 1.4rem;
		font-weight: normal;
	}
	h3 {
		font-size: 1.4rem;
      margin: 0;
      padding: 1rem 0;
	}
}
.col-nav,
.fineprint,
dt{
  background-color: #992D23;
  color: #fff;
  a {
    color: #fff;
  }
}
.col-nav {
  padding: 0 1rem;
  h3 {
    margin: 0;
    padding: 1rem 0;
  }
  li {
    padding: .4rem 0;
    border-bottom: 1px solid #ccc;
  }
  dl li {
    border-bottom: none;
  }
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: .6rem 0;
}
.col-award,
.col-cards,
.header h2,
.col-content {
	display: none;
}
.fineprint {
  p {
    margin: 0;
    padding: .6rem;
  }
}
@media (min-width: 720px) {
	.wrapper {
		margin: 1.5rem auto;
		border: 1px solid #264679;
		border-radius: .8rem;
	}
	.col-award,
    .col-cards,
    .header h2,
	.col-content {
		display: inherit;
	}
	.header {
		h1 {
			font-size: 5rem;
		}
	  h2 {
		font-size: 2.4rem;
	  }
	}

	.main,
	.header,
	.photos{
	  display: table;
	}
	.col-award,
	.col-brand,
	.col-cards,
	.col-nav,
	.col-content,
	.col-contact,
	.photos div{
	  display: table-cell;
	}
	.col-award,
	.col-brand,
	.col-cards,
	.col-nav,
	.col-content,
	.col-contact {
		padding: 0 20px;
	}
	.col-award,
	.col-brand {
		width: 12%;
	}
	.col-nav,
	.col-contact {
	  width: 20%;
	  
	}
	.col-brand {
	  width: 75%;
	}
	.col-content {
	  width: 60%;
	}
	.photos div {
	  width: 50%;
	}
	.col-contact {
	  border-left: 1px dashed #992D23;
	}
	.fineprint {
	  padding: 1px 1.5rem 1px 0;
		text-align: right;
	}
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1142px;
  }
}